<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.AltechHdd"
        tools:targetApi="31">
        <activity
            android:name=".view.activity.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AltechHdd.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />


        </activity>

        <activity
            android:name=".view.activity.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AltechHdd.NoActionBar"/>

        <activity
            android:name=".view.activity.ActivityHome"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AltechHdd.NoActionBar"/>

        <activity
            android:name=".view.activity.ActivityDashboard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AltechHdd.NoActionBar"/>

        <activity
            android:name=".view.Detail.ActivityPutAwayDetail"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AltechHdd.NoActionBar"/>

        <activity
            android:name=".view.Detail.ActivityMaterialIssuance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AltechHdd.NoActionBar"/>

        <activity
            android:name=".view.scan.ActivityScan"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AltechHdd.NoActionBar"/>

    </application>

</manifest>